<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>{% block title %}Revestimientos J&G, Barquisimeto C.A{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/jygrevestimientos/css/bootstrap-theme.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/jygrevestimientos/css/bootstrap.css') }}">
	<style type="text/css">
		@font-face{
			font-family: Martel;
			src: url('{{ asset('bundles/jygrevestimientos/fonts/Arimo-Regular.ttf') }}');
		}
		.social { width: 20px; height: 20px; }
		.social-footer{ width: 30px; height: 30px; }
	</style>
	{% block stylesheets %}{% endblock %}
	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
</head>
<body style="background-image: url('{{ asset('bundles/jygrevestimientos/images/background.jpg') }}') !important; background-repeat: repeat">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<img class="navbar-brand" src="{{ asset('bundles/jygrevestimientos/images/brand.jpg') }}"><a class="navbar-brand" href="{{ path('JYGRevestimientosBundle_inicio') }}">Revestimientos J&G</a>

			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="{{ app.request.attributes.get('_route') | replace({'jyg_revestimientos_page_' : ''}) == 'index' ? 'active' }}"><a href="{{ path('JYGRevestimientosBundle_inicio') }}">Inicio</a></li>
					<li class="{{ app.request.attributes.get('_route') | replace({'jyg_revestimientos_page_' : ''}) == 'quienessomos' ? 'active' }}"><a href="{{ path('JYGRevestimientosBundle_quienessomos') }}">Quiénes Somos</a></li>
					<li class="{{ app.request.attributes.get('_route') | replace({'jyg_revestimientos_page_' : ''}) == 'productos' ? 'active' }}"><a href="{{ path('JYGRevestimientosBundle_productos') }}">Productos</a></li>
					<li class="{{ app.request.attributes.get('_route') | replace({'jyg_revestimientos_page_' : ''}) == 'galeria' ? 'active' }}"><a href="{{ path('JYGRevestimientosBundle_galeria') }}">Galería</a></li>
					<li class="{{ app.request.attributes.get('_route') | replace({'jyg_revestimientos_page_' : ''}) == 'contacto' ? 'active' }}"><a href="{{ path('JYGRevestimientosBundle_contacto') }}">Contacto</a></li>
					<li><a href="https://www.facebook.com/Revestimientos-JG-Barquisimeto-832577520174688/timeline/ target="_blank"  alt="Redes Sociales"><img src="{{ asset('bundles/jygrevestimientos/images/facebook.png') }}" class="img-responsive social"></a></li>
					<li><a href="" alt="Redes Sociales"><img src="{{ asset('bundles/jygrevestimientos/images/twitter.png') }}" class="img-responsive social"></a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</nav>
	<div class="container navSpace">
		{% block body %}{% endblock %}
	</div>
	<div class="container">
		<!-- FOOTER -->
		<footer class="foooter"><div class="row">
			<div class="col-lg-4 col-sm-4 col-xs-12"><p class="naranja_logo"><b>Revestimientos J&G Barquisimeto C.A</b><br><small>{{ "now" | date("F jS", "America/Caracas") }} {{ "now" | date("Y") }} | RIF J-404867660</small></p></div>
			<div class="col-lg-3 col-sm-3 col-xs-12">
				<center><a href="https://www.facebook.com/Revestimientos-JG-Barquisimeto-832577520174688/timeline/" target="_blank" alt="Redes Sociales"><img src="{{ asset('bundles/jygrevestimientos/images/facebook.png') }}" class="social-footer"></a>  <a href="" alt="Redes Sociales"><img src="{{ asset('bundles/jygrevestimientos/images/twitter.png') }}" class="social-footer"></a></center>
			</div>
			<div class="col-lg-5 col-sm-5 col-xs-12">
			<p class="pull-right">
				<a href="{{ path('JYGRevestimientosBundle_inicio') }}">Inicio</a>  &middot;
				<a href="{{ path('JYGRevestimientosBundle_quienessomos') }}">Quiénes Somos</a>  &middot; 
				<a href="{{ path('JYGRevestimientosBundle_productos') }}">Productos</a>  &middot; 
				<a href="{{ path('JYGRevestimientosBundle_galeria') }}">Galería</a>  &middot;  
				<a href="{{ path('JYGRevestimientosBundle_contacto') }}">Contacto</a>
				 | <a href="#"> Subir</a><br>Desarrollado por: <a href="">Edilianny Sánchez</a> y <a href="">Luis Pérez</a>
			</p>
			</div>
		</div></footer>
	</div><!-- /.container -->
	{% block javascripts %}
		<script src="{{ asset('bundles/jygrevestimientos/js/jquery.min.js') }}"></script>
		<script src="{{ asset('bundles/jygrevestimientos/js/bootstrap.min.js') }}"></script>
	{% endblock %}
</body>
</html>