<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>{% block title %}Revestimiento J&G, Barquisimeto C.A{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/jygrevestimientos/css/bootstrap-theme.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/jygrevestimientos/css/bootstrap.css') }}">
	<style type="text/css">
		@font-face{
			font-family: Martel;
			src: url('{{ asset('bundles/jygrevestimientos/fonts/Arimo-Regular.ttf') }}');
		}
		.social { width: 20px; height: 20px; }
		.social-footer{ width: 30px; height: 30px; }
	</style>
	{% block stylesheets %}{% endblock %}
	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
</head>
<body style="background-image: url('{{ asset('bundles/jygrevestimientos/images/background.jpg') }}') !important; background-repeat: repeat">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<img class="navbar-brand" src="{{ asset('bundles/jygrevestimientos/images/brand.png') }}"><a class="navbar-brand" href="{{ path('JYGRevestimientosBundle_inicio') }}">Revestimiento J&G</a>

			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<form class="navbar-form navbar-right" role="search">
                    <a href="{{ path('_cerrar_sesion') }}" class="btn btn-danger">Cerrar Sesión</a>
                </form>
				<ul class="nav navbar-nav navbar-right">
					<li class="{{ app.request.attributes.get('_route')  == 'inicio_admin' ? 'active' }}"><a href="{{ path('inicio_admin') }}">Inicio</a></li>

					{% if app.session.get('tipo_usuario') == 'Administrador' %}
					<li class="{% if app.request.attributes.get('_route') == 'material' or app.request.attributes.get('_route') == 'material_show' or app.request.attributes.get('_route') == 'material_new' or app.request.attributes.get('_route') == 'material_edit'  %}active{% endif %}"><a href="{{ path('material') }}">Productos</a></li>
					{% endif %}

					{% if (app.session.get('tipo_usuario') == 'Administrador' or app.session.get('tipo_usuario') == 'Vendedor') %}
					<li class="{% if app.request.attributes.get('_route') == 'venta' or app.request.attributes.get('_route') == 'venta_show' or app.request.attributes.get('_route') == 'venta_new' or app.request.attributes.get('_route') == 'venta_edit'  %}active{% endif %}"><a href="{{ path('venta') }}">Ventas</a></li>	
					{% endif %}

					{% if (app.session.get('tipo_usuario') == 'Administrador' or app.session.get('tipo_usuario') == 'Vendedor') %}		
					<li {#class="{% if app.request.attributes.get('_route') == 'compramaterial' or app.request.attributes.get('_route') == 'compramaterial_show' or attributes.get('_route') == 'compramaterial_new' %}active{% endif %}"#}><a href="{{ path('compramaterial') }}">Compras</a></li>
					{% endif %}

					{% if (app.session.get('tipo_usuario') == 'Administrador' or app.session.get('tipo_usuario') == 'Vendedor') %}
					<li class="{% if app.request.attributes.get('_route') == 'cliente' or app.request.attributes.get('_route') == 'cliente_show' or app.request.attributes.get('_route') == 'cliente_new' or app.request.attributes.get('_route') == 'cliente_edit'  %}active{% endif %}"><a href="{{ path('cliente') }}">Clientes</a></li>
					{% endif %}

					{% if app.session.get('tipo_usuario') == 'Administrador' %}
					<li class="{% if app.request.attributes.get('_route') == 'usuario' or app.request.attributes.get('_route') == 'usuario_show' or app.request.attributes.get('_route') == 'usuario_new' or app.request.attributes.get('_route') == 'usuario_edit'  %}active{% endif %}"><a href="{{ path('usuario') }}">Usuarios</a></li>
					{% endif %}

					{% if app.session.get('tipo_usuario') == 'Administrador' %}
					<li class="{{ app.request.attributes.get('_route') | replace({'jyg_revestimientos_page_' : ''}) == 'administrargaleria' ? 'active' }}"><a href="{{ path('_administrar_galeria') }}">Galería</a></li>
					{% endif %}

					{% if (app.session.get('tipo_usuario') == 'Administrador' or app.session.get('tipo_usuario') == 'Vendedor') %}
					<li class="{% if app.request.attributes.get('_route') == 'bitacora' or app.request.attributes.get('_route') == 'bitacora_show'  %}active{% endif %}"><a href="{{ path('bitacora') }}">Bitácora</a></li>
					{% endif %}
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</nav>
	<div class="container navSpace">
		{% block body %}{% endblock %}
	</div>
	<div class="container">
		<!-- FOOTER -->
		<footer class="foooter"><div class="row">
			<div class="col-lg-4 col-sm-4 col-xs-12"><p class="naranja_logo"><b>Revestimiento J&G Barquisimeto C.A</b><br><small>{{ "now" | date("F jS", "America/Caracas") }} {{ "now" | date("Y") }} | RIF J-404867660</small></p></div>
			<div class="col-lg-4 col-sm-4 col-xs-12">
				<p class="text-center">Está conectado como {{ app.session.get('nombre') }} <br>como: {{ app.session.get('tipo_usuario') }}</p>
			</div>
			<div class="col-lg-4 col-sm-4 col-xs-12">
				<p class="pull-right">Desarrollado por: <a href="">Edilianny Sánchez</a> y <a href="">Luis Pérez</a></p>
			</div>
		</div></footer>
	</div><!-- /.container -->
	{% block javascripts %}
		<script src="{{ asset('bundles/jygrevestimientos/js/jquery.min.js') }}"></script>
		<script src="{{ asset('bundles/jygrevestimientos/js/bootstrap.min.js') }}"></script>
	{% endblock %}
</body>
</html>