<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>{% block title %}Revestimientos J&G, Barquisimeto C.A{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/jygrevestimientos/css/bootstrap-theme.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/jygrevestimientos/css/bootstrap.css') }}">
	<style type="text/css">
		@font-face{
			font-family: Martel;
			src: url('{{ asset('bundles/jygrevestimientos/fonts/Arimo-Regular.ttf') }}');
		}
		.social { width: 20px; height: 20px; }
		.social-footer{ width: 30px; height: 30px; }
	</style>
	{% block stylesheets %}{% endblock %}
	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
</head>
<body style="background-image: url('{{ asset('bundles/jygrevestimientos/images/background.jpg') }}') !important; background-repeat: repeat">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<img class="navbar-brand" src="{{ asset('bundles/jygrevestimientos/images/brand.png') }}"><a class="navbar-brand" href="{{ path('JYGRevestimientosBundle_inicio') }}">Revestimientos J&G</a>

			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<form class="navbar-form navbar-right" role="search">
                    <a href="{{ path('_cerrar_sesion') }}" class="btn btn-danger">Cerrar Sesión</a>
                </form>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{ path('inicio_admin') }}">Inicio</a></li>
					<li><a href="{{ path('material') }}">Productos</a></li>
					<li><a href="{{ path('venta') }}">Venta</a></li>					
					<li><a href="{{ path('cliente') }}">Clientes</a></li>
					<li><a href="{{ path('usuario') }}">Usuarios</a></li>
					<li><a href="{{ path('_administrar_galeria') }}">Galería</a></li>
					<li><a href="{{ path('bitacora') }}">Bitácora</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</nav>
	<div class="container navSpace">
		{% block body %}{% endblock %}
	</div>
	<div class="container">
		<!-- FOOTER -->
		<footer class="foooter"><div class="row">
			<div class="col-lg-6 col-sm-6 col-xs-12"><p class="naranja_logo"><b>Revestimientos J&G Barquisimeto C.A</b><br><small>{{ "now" | date("F jS", "America/Caracas") }} {{ "now" | date("Y") }} | RIF J-404867660</small></p></div>
			<div class="col-lg-6 col-sm-6 col-xs-12">
				<p class="pull-right">Elaborado por: <a href="">Edilianny Sánchez</a> y <a href="">Luis Pérez</a>
			</p>
			</div>
		</div></footer>
	</div><!-- /.container -->
	{% block javascripts %}
		<script src="{{ asset('bundles/jygrevestimientos/js/jquery.min.js') }}"></script>
		<script src="{{ asset('bundles/jygrevestimientos/js/bootstrap.min.js') }}"></script>
	{% endblock %}
</body>
</html>