{% extends 'JYGRevestimientosBundle::baseAdmin.html.twig' %}
{% block javascripts %}
    <script src="{{ asset('bundles/jygrevestimientos/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/jygrevestimientos/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/jygrevestimientos/js/modalDelEdit.js') }}"></script>
{% endblock %}
{% block body -%}
    {% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
    <div class="row">
        <div class="col-sm-8"><div class="page-header"><h1>Modificar Usuario</h1></div></div>
        <div class="col-sm-4"><a id="volver" href="{{ path('usuario') }}" class="btn btn-primary pull-right" type="button"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Regresar a lista de Usuarios</a></div>
    </div>
    {{ form_start(edit_form) }}
    <div class="row well">
        <div class="col-lg-4 col-sm-4 col-xs-12">
            {{ form_row(edit_form.nombre) }}
            {{ form_row(edit_form.apellido) }}
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12">
            {{ form_row(edit_form.correo) }}
            {{ form_row(edit_form.login) }}           
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12">
            {{ form_row(edit_form.telefono) }}
            {{ form_row(edit_form.contrasena) }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">{{ form_widget(edit_form.submit) }}</div>
        <div class="col-sm-4">{{ form_end(edit_form) }}<a type="button" class="btn btn-danger btn-block" data-toggle="modal" id="Modal" data-target="#EliminarUsuario"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>  Eliminar Usuario</a>
        </div>
    </div>
    <!-- el modal tio -->
    <div class="modal fade" id="EliminarUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" >
            <div class="modal-content bodies">
                <center><h3>¿Está seguro que desea eliminar al usuario y sus datos?</h3>
                <p>Tenga en cuenta que al eliminar al usuario, el mismo ya no podrá entrar en el sistema y hacer cambios</p></center><br>
                <div class="row">
                <div class="col-sm-6">{{ form(delete_form) }}</div>
                <div class="col-sm-6"><button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Cancelar</button></div></div>
            </div>
        </div>
    </div>
    <!-- el modal tio -->

{% endblock %}
