{% extends 'JYGRevestimientosBundle::baseAdmin.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-lg-9 col-sm-9 col-xs-12"><div class="page-header"><h1>Usuario: {{ entity.nombre }}</h1></div></div>
        <div class="col-lg-3 col-sm-3 col-xs-12"><a id="volver" class="btn btn-block btn-success" href="{{ path('usuario') }}"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Ver Todos los Usuarios</a></div>
    </div>
    {% for flashMessage in app.session.flashbag.get('cod') %}
        <div class = "alert alert-success alert-dismissable">
            <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="well row">
        <div class="col-lg-4 col-sm-4 col-xs-12">
        <table class="table"><thead><tr><th>Nombre y Apellido</th></tr></thead>
        <tbody><tr><td>{{ entity.apellido }}, {{ entity.nombre }}</td></tr>
            <tr><td>{{ entity.cuenta }}</td></tr></tbody></table>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12">
        <table class="table"><thead><tr><th>Teléfono</th></tr></thead>
        <tbody><tr><td>{{ entity.telefono }}</td></tr></tbody></table>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12">
        <table class="table"><thead><tr><th colspan="2">Correo Electronico y Login</th></tr></thead>
        <tbody><tr><td>{{ entity.correo }}</td><td>{{ entity.username }}</td></tr></tbody></table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-sm-4 col-xs-12">
        <a href="{{ path('usuario_edit', { 'id': entity.id }) }}" class="btn btn-primary btn-block">Modificar Detalles del Usuario</a>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12">
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12">
        {{ form(delete_form) }}</div>
    </div>
{% endblock %}
