{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Bitacora list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Usuario</th>
                <th>Idusuario</th>
                <th>Operacion</th>
                <th>Idoperacion</th>
                <th>Fecha</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('bitacora_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.usuario }}</td>
                <td>{{ entity.idusuario }}</td>
                <td>{{ entity.operacion }}</td>
                <td>{{ entity.idoperacion }}</td>
                <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('bitacora_show', { 'id': entity.id }) }}">show</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
