{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Bitacora</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Usuario</th>
                <td>{{ entity.usuario }}</td>
            </tr>
            <tr>
                <th>Idusuario</th>
                <td>{{ entity.idusuario }}</td>
            </tr>
            <tr>
                <th>Operacion</th>
                <td>{{ entity.operacion }}</td>
            </tr>
            <tr>
                <th>Idoperacion</th>
                <td>{{ entity.idoperacion }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('bitacora') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
