{% extends 'JYGRevestimientosBundle::baseAdmin.html.twig' %}
{% block javascripts %}
    <script src="{{ asset('bundles/jygrevestimientos/js/datatable.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#myTable').DataTable({});
        });
    </script>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-10"><div class="page-header"><h1>Compras</h1></div></div>
        <div class="col-sm-2"><a id="volver" href="{{ path('compramaterial_new') }}" class="btn btn-success pull-right" type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  Registrar Compra</a></div>
    </div>

    <div class="panel panel-default">
        {% for flashMessage in app.session.flashbag.get('cod') %}
            <div class = "alert alert-success alert-dismissable">
                <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                {{ flashMessage }}
            </div>
        {% endfor %}
        <table class="table table-condensed table-bordered table-responsive records_list" id="myTable">
            <thead>
                <tr class="info">
                <th>#Compra</th>
                <th>#Control de Factura</th>
                <th>Fecha de Compra</th>
                <th>Subtotal</th>
                <th>Iva</th>
                <th>Total</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('compramaterial_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nrocontrolfactura }}</td>
                <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.subtotal }}</td>
                <td>{{ entity.iva }}</td>
                <td>{{ entity.total }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('compramaterial_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('compramaterial_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/jygrevestimientos/css/datatable.min.css') }}">
    <style type="text/css">
    .table-bottom{
        margin-bottom: 0px;
        }</style>
{% endblock %}

