{% extends 'JYGRevestimientosBundle::baseAdmin.html.twig' %}
{% block javascripts %}
	<script src="{{ asset('bundles/jygrevestimientos/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/jygrevestimientos/js/bootstrap.min.js') }}"></script>
	<script src="{{ asset('bundles/jygrevestimientos/js/formsCompra.js') }}"></script>
{% endblock %}
{% block body -%}
    <h1>CompraMaterial creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('compramaterial') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
