{% extends 'JYGRevestimientosBundle::baseAdmin.html.twig' %}

{% block body -%}
    <h1>CompraMaterial</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nrocontrolfactura</th>
                <td>{{ entity.nrocontrolfactura }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Subtotal</th>
                <td>{{ entity.subtotal }}</td>
            </tr>
            <tr>
                <th>Iva</th>
                <td>{{ entity.iva }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ entity.total }}</td>
            </tr>
            <tr>
                <th>Items que usted compró</th>
                {% for item in entity.material %}<td>{{ item.codigomaterial }}, {{ item.cantidad }}, {{ item.deposito }}</td>{% endfor %}
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('compramaterial') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('compramaterial_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
