{% extends "JYGRevestimientosBundle::base.html.twig" %}

{% block title %}Revestimientos J&G - Contacto{% endblock %}

{% block body %}
<<<<<<< HEAD
	<div class="row">
		<h1>Welcome to the Page:vision page</h1>
=======
	<div class="container">
		<div class="row">
			<h2>Atención al Cliente</h2>
			<div class="col-md-8">
				{% for flashMessage in app.session.flashbag.get('exito') %}
			        <div class="alert alert-success alert-dismissable">
					<button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
					{{ flashMessage }}
					</div>
   				 {% endfor %}
				<h4>Formulario de Contacto</h4>
				<form method="POST" action="{{ path('JYGRevestimientosBundle_contacto') }}" >
						<div class = "form-group" >
		 					{{form_label(form.nombre,'Nombre') }}
				    		{{ form_widget(form.nombre, {'attr':{'class':'form-control' , 'data-toggle':'tooltip', 'data-placement':'right', 'title':'Nombre', 'data-container':'body'}}) }}
				    		{% if form_errors(form.nombre) %}
				    			<div class = "alert alert-danger alert-dismissable">
				    				<button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
				    			    {{ form_errors(form.nombre) }}
				    			</div>
							{% endif %}

							{{ form_label(form.correo, 'Correo electrónico') }}
					    	{{ form_widget(form.correo, {'attr':{'class':'form-control'}})}}
					    	{% if form_errors(form.correo) %}
					    		<div class = "alert alert-danger alert-dismissable">
					    			<button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
					    			{{ form_errors(form.correo) }}
					    		</div>
							{% endif %}	
							{{ form_label(form.asunto, 'Asunto') }}
							{{ form_widget(form.asunto, {'attr':{'class':'form-control' , 'data-toggle':'tooltip'}}) }}
				    		{% if form_errors(form.asunto) %}
				    			<div class = "alert alert-danger alert-dismissable">
				    				<button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
				    				{{ form_errors(form.asunto) }}
				    			</div>
							{% endif %}

							{{ form_label(form.mensaje,'Mensaje') }}
				    		{{ form_widget(form.mensaje, {'attr':{'class':'form-control' , 'data-toggle':'tooltip', 'data-placement':'right','title':'Mensaje', 'data-container':'body'}}) }}
				    		{% if form_errors(form.mensaje) %}
				    			<div class = "alert alert-danger alert-dismissable">
				    				<button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
				    				{{ form_errors(form.mensaje) }}
				    			</div>
							{% endif %}
							<div style= "padding-top: 20px;">
					    		{{form_widget(form.Enviar ,{'attr':{'class':'btn btn-default'}})}}
					    		<a href="{{ path('JYGRevestimientosBundle_inicio') }}" ><button class="btn btn-outline btn-danger" type="button">Cancelar</button></a>
					    		<div class = "row" >
					    	    {% do form.Cancelar.setRendered %}
					    		{{ form_rest(form) }}	    		
					    		</div>
				    		</div>	
				    	</div>
		    	</form>
		    </div>
		    <div class="col-md-4"></div>
    	</div>
>>>>>>> 53e097eb132c967e34a26f2ca2cfc1305ef9015b
	</div>
{% endblock %}
