{% extends "JYGRevestimientosBundle::base.html.twig" %}

{% block title %}Revestimientos J&G - Contacto{% endblock %}

{% block body %}
	<div class="row">
		<h1>Atención al Cliente <small>Formulario de Contacto</small></h1>
		<div class="col-md-8">
			{% for flashMessage in app.session.flashbag.get('exito') %}
		        <div class="alert alert-success alert-dismissable">
				<button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
				{{ flashMessage }}
				</div>
				 {% endfor %}
			<form method="POST" action="{{ path('JYGRevestimientosBundle_contacto') }}" >
					<div class = "form-group" >
	 					{{form_label(form.nombre,'Nombre') }}
			    		{{ form_widget(form.nombre, {'attr':{'class':'form-control' , 'data-toggle':'tooltip', 'data-placement':'right', 'title':'Nombre', 'data-container':'body'}}) }}
			    		{% if form_errors(form.nombre) %}
			    			<div class = "alert alert-danger alert-dismissable">
			    				<button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
			    			    {{ form_errors(form.nombre) }}
			    			</div>
						{% endif %}

						{{ form_label(form.correo, 'Correo electrónico para contactarte') }}
				    	{{ form_widget(form.correo, {'attr':{'class':'form-control'}})}}
				    	{% if form_errors(form.correo) %}
				    		<div class = "alert alert-danger alert-dismissable">
				    			<button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
				    			{{ form_errors(form.correo) }}
				    		</div>
						{% endif %}	
						{{ form_label(form.asunto, 'Asunto') }}
						{{ form_widget(form.asunto, {'attr':{'class':'form-control' , 'data-toggle':'tooltip'}}) }}
			    		{% if form_errors(form.asunto) %}
			    			<div class = "alert alert-danger alert-dismissable">
			    				<button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
			    				{{ form_errors(form.asunto) }}
			    			</div>
						{% endif %}

						{{ form_label(form.mensaje,'Mensaje') }}
			    		{{ form_widget(form.mensaje, {'attr':{'class':'form-control' , 'data-toggle':'tooltip', 'data-placement':'right','title':'Mensaje', 'data-container':'body'}}) }}
			    		{% if form_errors(form.mensaje) %}
			    			<div class = "alert alert-danger alert-dismissable">
			    				<button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
			    				{{ form_errors(form.mensaje) }}
			    			</div>
						{% endif %}
						<div style= "padding-top: 20px;">
				    		{{form_widget(form.Enviar ,{'attr':{'class':'btn btn-default'}})}}
				    		<a href="{{ path('JYGRevestimientosBundle_inicio') }}" ><button class="btn btn-outline btn-danger" type="button">Cancelar</button></a>
				    		<div class = "row" >
				    	    {% do form.Cancelar.setRendered %}
				    		{{ form_rest(form) }}	    		
				    		</div>
			    		</div>	
			    	</div>
	    	</form>
	    </div>
	    <div class="col-md-4">
	    	Aqui como una imagen para que no se vea tan solo el formulario de contacto
	    </div>
	</div>
{% endblock %}
