{% extends 'JYGRevestimientosBundle::baseAdmin.html.twig' %}

{% block body %}
	<div class="col-lg-12 col-sm-12 well principio">
		<h1>Bienvenido/a {{ app.session.get('nombre') }}</h1>
		<div> <h4> ¿Que le gustaría hacer hoy?</h4> </div>
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-2">
								<span class="glyphicon glyphicon-th" aria-hidden="true" id="sp"></span> 
							</div>
							<div class="col-xs-10">
								<h5>  Gestión de Productos</h5>
							</div>
						</div>
					</div>
					<a href="{{ path('material') }}">
						<div class="panel-footer">
							<span class="pull-right">Ir   <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></span>
							<div class="clearfix"></div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-2">
								<span class="glyphicon glyphicon-usd" aria-hidden="true" id="sp"></span> 
							</div>
							<div class="col-xs-10">
								<h5>Gestión de Ventas</h5>
							</div>
						</div>
					</div>
					<a href="{{ path('venta') }}">
						<div class="panel-footer">
							<span class="pull-right">Ir        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></span>
							<div class="clearfix"></div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-2">
								<span class="glyphicon glyphicon-briefcase" aria-hidden="true" id="sp"></span> 
							</div>
							<div class="col-xs-10">
								<h5>Gestión de Clientes</h5>
							</div>
						</div>
					</div>
					<a href="{{ path('cliente') }}">
						<div class="panel-footer">
							<span class="pull-right">Ir        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></span>
							<div class="clearfix"></div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-2">
								<span class="glyphicon glyphicon-user" aria-hidden="true" id="sp"></span> 
							</div>
							<div class="col-xs-10">
								<h5>Gestión de Usuarios</h5>
							</div>
						</div>
					</div>
					<a href="{{ path('usuario') }}">
						<div class="panel-footer">
							<span class="pull-right">Ir        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></span>
							<div class="clearfix"></div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-2">
								<span class="glyphicon glyphicon-picture" aria-hidden="true" id="sp"></span> 
							</div>
							<div class="col-xs-10">
								<h5>Gestión de la Galería</h5>
							</div>
						</div>
					</div>
					<a href="{{ path('_administrar_galeria') }}">
						<div class="panel-footer">
							<span class="pull-right">Ir        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></span>
							<div class="clearfix"></div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-2">
								<span class="glyphicon glyphicon-cog" aria-hidden="true" id="sp"></span>
							</div>
							<div class="col-xs-10">
								<h5>Bitácora del Sistema</h5>
							</div>
						</div>
					</div>
					<a href="{{ path('bitacora') }}">
						<div class="panel-footer">
							<span class="pull-right">Ir        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></span>
							<div class="clearfix"></div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block stylesheets %}
	<style type="text/css">
        #sp{
                font-size: 2em;
        }
        .principio{
        	margin-top: 30px;
        	padding-top: 15px;
        	padding-bottom: 30px;
        	border-radius: 10px;
        }
        a:hover{ cursor: pointer; }
    </style>
{% endblock %}