{% extends 'JYGRevestimientosBundle::base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/jygrevestimientos/css/carousel.css') }}">
  <style type="text/css">
    #img_1{
      background-image: url('{{ asset("bundles/jygrevestimientos/images/carousel_1.jpg") }}'); min-height: 400px; width: 100%;
    }
    #img_2{
      background-image: url('{{ asset("bundles/jygrevestimientos/images/carousel_2.jpg") }}'); min-height: 400px; width: 100%;
    }
    #img_3{
      background-image: url('{{ asset("bundles/jygrevestimientos/images/carousel_3.jpg") }}'); min-height: 400px; width: 100%;
    }
    h2 {
      color: rgb(253, 134, 42);
    }
    .text-muted {
      color: rgb(139, 54, 0);
    }
  </style>
{% endblock %}

{% block body %}
	<!-- ======================Carousel============================ -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src='{{ asset("bundles/jygrevestimientos/images/carousel_0.jpg") }}' class="img-responsive item">
        </div>
        <div id="img_1" class="item">
          <div class="container">
            <div class="carousel-caption">
              <h1>Rosa y Gris Mostaza</h1>
              <p>Some info</p>
              <!--<p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>-->
            </div>
          </div>
        </div>
        <div id="img_2" class="item">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </div>
          </div>
        </div>
        <div id="img_3" class="item">
          <div class="container">
            <div class="carousel-caption">
              <h1>Mar Azul</h1>
              <p>Ofrecemos todo para cubrir los espacios de su hogar, dando una apariencia solida y moderna.</p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <div class="row">
        {% for producto in entity %}
        <div class="col-lg-4 col-sm-4 col-xs-12">
          <img class="img-circle" src="{{ asset('bundles/jygrevestimientos/images/materiales/') }}{{ producto.path }}" alt="No disponible" width="140" height="140">
          <h2>{{ producto.nombre }}</h2>
          <p> {{ producto.tipo }}
              {#{% if producto.tipo == 'Laja Natural'  %}
                {{ producto.tamano }}
              {% endif %}
              {% if producto.tipo == 'Laja Formateada'  %}#}
                {{ producto.formato }}
             {# {% endif %}
              {% if producto.tipo == 'Quimicos'  %}
                {{ producto.unidad }}
              {% endif %}#}
          </p>
          <p><a class="btn btn-default" href="{{ path('page_verProducto', { 'id': producto.id }) }}" role="button">Ver Detalles &raquo;</a></p>
        </div>
        {% endfor %}
      </div>

      <!--<hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>
    </div> /.container -->
{% endblock %}