{% extends "JYGRevestimientosBundle::base.html.twig" %}

{% block title %}Revestimientos J&G - Productos{% endblock %}

{% block body %}
	<div class="page-header">
	  <h1>Productos</h1>
	</div>
	<div class="row">
		<div class="col-lg-4 col-sm-4 col-xs-12">
			<div class="list-group">
			  <a href="#" class="list-group-item active">
			    <h4 class="list-group-item-heading">Tipo de Producto 1</h4>
			    <p class="list-group-item-text">Descripción del Producto.<br><small>Haga click para mostrar todos los productos de este tipo</small></p>
			  </a>
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">Tipo de Producto 2</h4>
			    <p class="list-group-item-text">Descripción del Producto. Haga click para mostrar todos los productos de este tipo.</p>
			  </a>
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">Tipo de Producto 2</h4>
			    <p class="list-group-item-text">Descripción del Producto. Haga click para mostrar todos los productos de este tipo.</p>
			  </a>
			</div>
		</div>
		<div class="col-lg-8 col-sm-8 col-xs-12">
			<div class="row">
			  <div class="col-lg-4 col-sm-6 col-xs-6">
			    <div class="thumbnail">
			      <img src="{{ asset('bundles/jygrevestimientos/images/show.jpg') }}" alt="Prod1">
			      <div class="caption">
			        <h3>Nombre del Prod</h3>
			        <p>Una descripción adecuada o una tabla con las caracteristicas</p>
			        <p><a href="#" class="btn btn-primary" role="button">Ver Más</a> <a href="#" class="btn btn-default" role="button">Ver Otros</a></p>
			      </div>
			    </div>
			  </div>
			  <div class="col-lg-4 col-sm-6 col-xs-6">
			    <div class="thumbnail">
			      <img src="{{ asset('bundles/jygrevestimientos/images/show.jpg') }}" alt="Prod1">
			      <div class="caption">
			        <h3>Nombre del Prod</h3>
			        <p>Una descripción adecuada o una tabla con las caracteristicas</p>
			        <p><a href="#" class="btn btn-primary" role="button">Ver Más</a> <a href="#" class="btn btn-default" role="button">Ver Otros</a></p>
			      </div>
			    </div>
			  </div>
			  <div class="col-lg-4 col-sm-6 col-xs-6">
			    <div class="thumbnail">
			      <img src="{{ asset('bundles/jygrevestimientos/images/show.jpg') }}" alt="Prod1">
			      <div class="caption">
			        <h3>Nombre del Prod</h3>
			        <p>Una descripción adecuada o una tabla con las caracteristicas</p>
			        <p><a href="#" class="btn btn-primary" role="button">Ver Más</a> <a href="#" class="btn btn-default" role="button">Ver Otros</a></p>
			      </div>
			    </div>
			  </div>
				<div class="col-lg-4 col-sm-6 col-xs-6">
				    <div class="thumbnail">
				      <img src="{{ asset('bundles/jygrevestimientos/images/show.jpg') }}" alt="Prod1">
				      <div class="caption">
				        <h3>Nombre del Prod</h3>
				        <p>Una descripción adecuada o una tabla con las caracteristicas</p>
				        <p><a href="#" class="btn btn-primary" role="button">Ver Más</a> <a href="#" class="btn btn-default" role="button">Ver Otros</a></p>
				      </div>
				    </div>
				  </div>
				  <div class="col-lg-4 col-sm-6 col-xs-6">
				    <div class="thumbnail">
				      <img src="{{ asset('bundles/jygrevestimientos/images/show.jpg') }}" alt="Prod1">
				      <div class="caption">
				        <h3>Nombre del Prod</h3>
				        <p>Una descripción adecuada o una tabla con las caracteristicas</p>
				        <p><a href="#" class="btn btn-primary" role="button">Ver Más</a> <a href="#" class="btn btn-default" role="button">Ver Otros</a></p>
				      </div>
				    </div>
				  </div>
				  <div class="col-lg-4 col-sm-6 col-xs-6">
				    <div class="thumbnail">
				      <img src="{{ asset('bundles/jygrevestimientos/images/show.jpg') }}" alt="Prod1">
				      <div class="caption">
				        <h3>Nombre del Prod</h3>
				        <p>Una descripción adecuada o una tabla con las caracteristicas</p>
				        <p><a href="#" class="btn btn-primary" role="button">Ver Más</a> <a href="#" class="btn btn-default" role="button">Ver Otros</a></p>
				      </div>
				    </div>
				  </div>
				  <div class="col-lg-4 col-sm-6 col-xs-6">
				    <div class="thumbnail">
				      <img src="{{ asset('bundles/jygrevestimientos/images/show.jpg') }}" alt="Prod1">
				      <div class="caption">
				        <h3>Nombre del Prod</h3>
				        <p>Una descripción adecuada o una tabla con las caracteristicas</p>
				        <p><a href="#" class="btn btn-primary" role="button">Ver Más</a> <a href="#" class="btn btn-default" role="button">Ver Otros</a></p>
				      </div>
				    </div>
				  </div>
				</div>
		</div>
	</div>
{% endblock %}
{% block stylesheets %}
	<style type="text/css">
		.caption h3{
			font-size: 20px;
			margin-top: 0px;
		}
	</style>
{% endblock %}
