{% extends 'JYGRevestimientosBundle::base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('bundles/jygrevestimientos/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/jygrevestimientos/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/jygrevestimientos/js/modalDetProd.js') }}"></script>
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-sm-10"><div class="page-header"><h2>Producto / {{ entity.nombre }}</h2></div></div>
        <div class="col-sm-2"><a id="volver" href="{{ path('JYGRevestimientosBundle_productos') }}" class="btn btn-success pull-right" type="button">Todos los Productos</a></div>
	</div>
	<div class="row">
		<div class="col-lg-8 col-sm-8 col-xs-12">
			<table class="table record_properties">
				<thead>
					<tr>
						<th colspan="2"><h3 style="margin-top:0px;" class="naranja_logo">Detalles del Producto</h3></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Nombre</th>
						<td>{{ entity.nombre }}</td>
					</tr>
					<tr>
						<th><span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span> Formato</th>
						<td>{{ entity.formato }}</td>
					</tr>
					<tr>
						<th><span class="glyphicon glyphicon-barcode" aria-hidden="true"></span> Código</th>
						<td>{{ entity.codigo }}</td>
					</tr>
					<tr>
						<th><span class="glyphicon glyphicon-th" aria-hidden="true"></span> Tipo</th>
						<td>{{ entity.tipo }}</td>
					</tr>
					<tr>
						<th><span class="glyphicon glyphicon-tint" aria-hidden="true"></span> Color</th>
						<td>{{ entity.color }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-lg-4 col-sm-4 col-xs-12">
			<a style="color: black;" type="button" data-toggle="modal" data-target="#exampleModal" data-whatever="<img src='{{ asset('bundles/jygrevestimientos/images/materiales/') }}{{ entity.path }}' style='-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5); box-shadow: 0 3px 9px rgba(0, 0, 0, .5);' class='img-rounded img-responsive'>" data-nombre="{{ entity.nombre }}"><div id="textContacto" class="raton"><h3><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> {{ entity.nombre }}</h3><p>{{ entity.formato }}</p></div>
	    	<img src='{{ asset("bundles/jygrevestimientos/images/materiales/") }}{{ entity.path }}' class="img-rounded img-responsive"></a>
		</div>
	</div>

	<!-- el modal tio -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
		<div class="modal-dialog modal-lg" >
			
			<div class="modal-content bodies">
				<center><div id="img"></div></center>
				<center><p style="margin-top: 10px; font-size: 20px;"><span id="label" class="label label-naranja"></span></p></center>
			</div>
		</div>
	</div>
	<!-- el modal tio -->

{% endblock %}
{% block stylesheets %}
	<style type="text/css">
		img:hover, .raton:hover { cursor: pointer; }
		#textContacto{
			position: absolute;
		    bottom: 0;
		    z-index: 1;
		    padding: 0px 10px 10px 10px;
		    min-width: 100%;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,ffffff+100&amp;0+0,1+100 */
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(top,  rgba(254,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(254,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(254,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(254,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(254,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00feffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
		}
	</style>
{% endblock %}