{% extends 'JYGRevestimientosBundle::base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('bundles/jygrevestimientos/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/jygrevestimientos/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/jygrevestimientos/js/modalDetProd.js') }}"></script>
{% endblock %}

{% block body %}
	<div class="page-header">
		<h2>Producto / {{ entity.nombre }}</h2>
	</div>
			
	<div class="row">
		<div class="col-lg-8 col-sm-8 col-xs-12">
			<table class="table record_properties">
				<thead>
					<tr>
						<th colspan="2"><h3 style="margin-top:0px;">Detalles del Producto</h3></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>Nombre</th>
						<td>{{ entity.nombre }}</td>
					</tr>
					<tr>
						<th>Formato</th>
						<td>{{ entity.formato }} aproximadamente</td>
					</tr>
					<tr>
						<th>Código</th>
						<td>{{ entity.codigo }}</td>
					</tr>
					<tr>
						<th>Tipo</th>
						<td>{{ entity.tipo }}</td>
					</tr>
					<tr>
						<th>Color</th>
						<td>{{ entity.color }}</td>
					</tr>
				</tbody>
			</table>

		</div>
		<div class="col-lg-4 col-sm-4 col-xs-12">
			<div id="textContacto"><h3>{{ entity.nombre }}</h3><p>{{ entity.formato }}</p></div>
	    	<a type="button" data-toggle="modal" data-target="#exampleModal" data-whatever="<div id='imgContacto' class='atlast'></div>" data-nombre="{{ entity.nombre }}"><div id="imgContacto"></div></a>
		</div>
	</div>

	<!-- el modal tio -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
		<div class="modal-dialog modal-lg" >
			<center><p style="margin-top: 10px; font-size: 20px;"><span id="label" class="label label-success"></span></p></center>
			<div class="modal-content bodies">
				<div id="img"></div>
			</div>
		</div>
	</div>
	<!-- el modal tio -->

{% endblock %}
{% block stylesheets %}
	<style type="text/css">
		#imgContacto{
			background-image: url('{{ asset("bundles/jygrevestimientos/images/materiales/") }}{{ entity.path }}');
			background-size: 100% 300px;
			background-repeat: no-repeat;
			min-height: 400px;
			max-width: 400px;
			/*background-color: rgba(0, 135, 64, 0.56);*/
			border-radius: 5px;
		}
		#textContacto{
			position: absolute;
		    bottom: 0;
		    z-index: 1;
		    padding: 0px 10px 10px 10px;
		}
	</style>
{% endblock %}