{% extends "JYGRevestimientosBundle::base.html.twig" %}

{% block title %}JYGRevestimientosBundle:Galeria:NuevaImagen{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/jygrevestimientos/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/jygrevestimientos/js/bootstrap.min.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-8"><div class="page-header"><h1>Modifique las imagénes de la galería</h1></div></div>
        <div class="col-sm-4"><a id="volver" href="{{ path('_nueva_imagen') }}" class="btn btn-success pull-right" type="button">Añada una nueva imágen</a></div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>Detalles</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for img in entities %}
                    <tr>
                        <td><img id="thumbs" src="{{ asset('bundles/jygrevestimientos/images/galeria/') }}{{ img.id }}.{{ img.path }}">
                        </td>
                        <td>{{ img.nombre }}</td>
                        <td>{{ img.descripcion }}</td>
                        <td>
                            <a class="btn btn-primary" href="{{ path('_editar_imagen', { 'id': img.id }) }}">Modificar Detalles</a>
                            <a class="btn btn-danger" href="{{ path('_eliminar_imagen', { 'id': img.id }) }}">Eliminar Imagen</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
	</div>

{% endblock %}
{% block stylesheets %}
    <style type="text/css">
        #thumbs {
            border-radius: 5px;
            max-width: 200px;
            max-height: 130px;
        }
        #thumbs:hover {
            border: solid 2px black;
        }
    </style>
{% endblock %}

