{% extends 'JYGRevestimientosBundle::baseAdmin.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('bundles/jygrevestimientos/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/jygrevestimientos/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/jygrevestimientos/js/popover.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-8"><div class="page-header"><h1>Nueva Imágen para la Galería</h1></div></div>
        <div class="col-sm-4"><a id="volver" href="{{ path('_administrar_galeria') }}" class="btn btn-primary pull-right" type="button"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Regresar a todas las imágenes</a></div>
    </div>

{{ form_start(form) }}
    <div class="row well">
        <div class="col-lg-6 col-sm-6 col-xs-12">
            {{ form_row(form.file) }}
            {{ form_row(form.nombre) }}
            {{ form_row(form.descripcion) }}
            {{ form_row(form.guardar) }}
            {{ form_rest(form) }}
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <div>Actualmente hay {{ entities|length }} imágenes en galería.</div>
            {% for img in entities %}
                <img id="thumbs" src="{{ asset('bundles/jygrevestimientos/images/galeria/') }}{{ img.id }}.{{ img.path }}" data-toggle="popover" data-placement="bottom" title="{{ img.nombre }}" data-container="body" data-content="{{ img.descripcion }}">
            {% endfor %}
        </div>
	</div>
{{ form_end(form) }}

{% endblock %}
{% block stylesheets %}
    <style type="text/css">
        #thumbs {
            border-radius: 5px;
            max-width: 200px;
            max-height: 130px;
            margin: 5px 2px 5px 2px;
        }
        #thumbs:hover {
            cursor: pointer;
        }
    </style>
{% endblock %}
