{% extends 'JYGRevestimientosBundle::baseAdmin.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('bundles/jygrevestimientos/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/jygrevestimientos/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/jygrevestimientos/js/forms.js') }}"></script>
    <script src="{{ asset('bundles/jygrevestimientos/js/modalDelEdit.js') }}"></script>
    <script src="{{ asset('bundles/jygrevestimientos/js/campomaterial.js') }}"></script>
{% endblock %}

{% block body -%}
    {% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
    <div class="row">
        <div class="col-sm-8"><div class="page-header"><h1>Modificar Producto</h1></div></div>
        <div class="col-sm-4"><a id="volver" href="{{ path('material') }}" class="btn btn-primary pull-right" type="button"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Regresar a lista de Productos</a></div>
    </div>
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="row"><div class="col-sm-12"><div class = "alert alert-success">
            {{ flashMessage }}
        </div></div></div>
    {% endfor %}
    {{ form_start(edit_form) }}
    <div class="row">
        <div class="col-lg-4 col-sm-4 col-xs-12">
            {{ form_row(edit_form.codigo, { 'attr': {'readonly': 'true'} }) }}
            {{ form_row(edit_form.tipo) }}
            {{ form_row(edit_form.tamano) }}
            {{ form_row(edit_form.formato) }}
            {{ form_row(edit_form.unidad) }}
            
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12">
            {{ form_row(edit_form.color) }}
            {{ form_row(edit_form.nombre) }}
            {{ form_row(edit_form.preciocompra) }}
            {{ form_row(edit_form.precioventa) }}
            {{ form_row(edit_form.file) }}           
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12">
            
            {{ form_row(edit_form.almacenes) }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">{{ form_widget(edit_form.submit) }}</div>
        <div class="col-sm-4">{{ form_end(edit_form) }}<a type="button" class="btn btn-danger btn-block" data-toggle="modal" id="Modal" data-target="#delEditProducto"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>  Eliminar Producto</a>
        </div>
    </div>

    <!-- el modal tio -->
    <div class="modal fade" id="delEditProducto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog modal-lg" >
            <div class="modal-content bodies">
                <center><h3>¿Está seguro que desea eliminar el productos y sus datos?</h3>
                <p>Tenga en cuenta que al eliminar el producto ya no podrá recuperar sus datos.</p></center><br>
                <div class="row">
                <div class="col-sm-6">{{ form(delete_form) }}</div>
                <div class="col-sm-6"><button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Cancelar</button></div></div>
            </div>
        </div>
    </div>
    <!-- el modal tio -->
{% endblock %}
