{% extends 'JYGRevestimientosBundle::base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('bundles/jygrevestimientos/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/jygrevestimientos/js/forms.js') }}"></script>
        <script src="{{ asset('bundles/jygrevestimientos/js/modal.js') }}"></script>
{% endblock %}

{% block body -%}
    {% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
    <div class="row">
        <div class="col-sm-8"><div class="page-header"><h1>Modificar Producto</h1></div></div>
        <div class="col-sm-4"><a id="volver" href="{{ path('material') }}" class="btn btn-default pull-right" type="button">Regresar a lista de Productos</a></div>
    </div>
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="row"><div class="col-sm-12"><div class = "alert alert-success">
            {{ flashMessage }}
        </div></div></div>
    {% endfor %}
    {{ form_start(edit_form) }}
    <div class="row">
        <div class="col-lg-4 col-sm-4 col-xs-12">
            {{ form_row(edit_form.codigo) }}
            {{ form_row(edit_form.formato) }}
            {{ form_row(edit_form.color) }}
            {{ form_row(edit_form.nombre) }}
            {{ form_row(edit_form.precio) }}
            {{ form_row(edit_form.tipo) }}
            {{ form_row(edit_form.file) }}
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12">
            {{ form_row(edit_form.almacenes) }}
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12">
            
            
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">{{ form_widget(edit_form.submit) }}</div>
        <div class="col-sm-4">{{ form_end(edit_form) }}{#{{ form(delete_form) }}#}
           <button class="btn btn-danger btn-block" data-toggle="modal" data-target="#{{entity.id}}" > Eliminar Producto </button>
        </div>
        <div class="modal fade">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Eliminar Producto</h4>
                  </div>
                  <div class="modal-body">
                    <p>¿Desea Eliminar el Producto?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <a href="{{path('material_delete', {'id': entity.id} )}}" class="btn btn-primary btn-danger "> Eliminar</a>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    <!--row-->  
    </div>
{% endblock %}
