{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Material list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Codigo</th>
                <th>Formato</th>
                <th>Color</th>
                <th>Nombre</th>
                <th>Cantdisponiblealmacen</th>
                <th>Precio</th>
                <th>Almacen</th>
                <th>Tipodematerial</th>
                <th>Unidad</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('material_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.codigo }}</td>
                <td>{{ entity.formato }}</td>
                <td>{{ entity.color }}</td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.cantdisponiblealmacen }}</td>
                <td>{{ entity.precio }}</td>
                <td>{{ entity.almacen }}</td>
                <td>{{ entity.tipodematerial }}</td>
                <td>{{ entity.unidad }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('material_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('material_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('material_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
