{% extends 'JYGRevestimientosBundle::baseAdmin.html.twig' %}
{% block javascripts %}
    <script src="{{ asset('bundles/jygrevestimientos/js/datatable.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#myTable').DataTable({});
        });
    </script>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-10"><div class="page-header"><h1>Lista de Productos</h1></div></div>
        <div class="col-sm-2"><a id="volver" href="{{ path('material_new') }}" class="btn btn-success pull-right" type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  Añadir un nuevo Producto</a></div>
    </div>
    <div class="panel panel-default">
        {% for flashMessage in app.session.flashbag.get('cod') %}
            <div class = "alert alert-success alert-dismissable">
                <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                {{ flashMessage }}
            </div>
        {% endfor %}
        <table class="table table-condensed table-bordered table-responsive records_list" id="myTable">
            <thead>
                <tr class="info">
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Formato/Color</th>
                    <th>Precios</th>
                    <th>Tipo</th>
                    <th>Disponibilidad</th>
                    <th>Menu</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><img src="{{ asset('bundles/jygrevestimientos/images/materiales/') }}{{ entity.path }}" width="60px" height="auto"></td>
                    <td>
                        <table>
                            <tr><td>{{ entity.nombre }}</td></tr>
                            <tr><td>(<a href="{{ path('material_show', { 'id': entity.id }) }}">{{ entity.codigo }}</a>)</td></tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr><td>{% if entity.tipo == 'Quimicos'  %}No Aplica{% else %}{{ entity.color }}{% endif %}</td></tr>
                            <tr><td>{{ entity.formato }}{{ entity.tamano }}{{ entity.unidad }}</td></tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr><td>P.Compra {{ entity.preciocompra }} Bs</td></tr>
                            <tr><td>P.Venta {{ entity.precioventa }} Bs</td></tr>
                        </table>
                    </td>
                    <td>{{ entity.tipo }}</td>
                    <td>
                        <table class="table table-condensed table-bordered table-responsive">
                            <tbody>
                                {% for almacen in entity.almacenes %}<tr>
                                    <td>{{ almacen.nombrealmacen }} ({{ almacen.cantmaterialdisponible }}{% if entity.tipo == 'Quimicos'  %} Litros{% else %} mts{% endif %})</td>
                                </tr>{% endfor %}
                            </tbody>
                        </table>
                    </td>
                    <td>
                    <div class="dropdown pull-right">
                      <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Opciones
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                        <li><a href="{{ path('material_show', { 'id': entity.id }) }}">Ver Detalles</a></li>
                        <li><a href="{{ path('material_edit', { 'id': entity.id }) }}">Modificar Datos</a></li>
                      </ul>
                    </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/jygrevestimientos/css/datatable.min.css') }}">
{% endblock %}
