{% extends 'JYGRevestimientosBundle::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-10"><div class="page-header"><h1>Lista de Productos</h1></div></div>
        <div class="col-sm-2"><a id="volver" href="{{ path('material_new') }}" class="btn btn-success pull-right" type="button">Añadir un nuevo Producto</a></div>
    </div>
    <div class="panel panel-default">
    <table class="table table-striped records_list">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Formato</th>
                <th>Color</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Tipo</th>
                <th>Disponibilidad</th>
                <th>Imagen</th>
                <th>Menu</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('material_show', { 'id': entity.id }) }}">{{ entity.codigo }}</a></td>
                <td>{{ entity.formato }}</td>
                <td>{{ entity.color }}</td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.precio }} Bs</td>
                <td>{{ entity.tipo }}</td>
                <td style="width: 240px;">
                    <table id="innerTable" class="table" style="width: 220px;">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for almacen in entity.almacenes %}<tr>
                                <td>{{ almacen.nombrealmacen }}</td>
                                <td>{{ almacen.cantmaterialdisponible }}</td>
                            </tr>{% endfor %}
                        </tbody>
                    </table>
                </td>
                <td style="width: 119px"><img src="{{ asset('bundles/jygrevestimientos/images/materiales/') }}{{ entity.path }}" width="100px" height="auto"></td>
                <td style="max-width: 70px;">
                <div class="dropdown pull-right">
                  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Opciones
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                    <li><a href="{{ path('material_show', { 'id': entity.id }) }}">Ver</a></li>
                    <li><a href="{{ path('material_edit', { 'id': entity.id }) }}">Modificar</a></li>
                  </ul>
                </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
{% block stylesheets %}
    <style type="text/css">
        #volver{
            margin-top: 20px;
        }
        img {
            border-radius: 5px;
        }
    </style>
{% endblock %}
