{% extends 'JYGRevestimientosBundle::base.html.twig' %}

{% block javascripts %}
	<script src="{{ asset('bundles/jygrevestimientos/js/jquery.min.js') }}"></script>
	<script src="{{ asset('bundles/jygrevestimientos/js/forms.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="page-header">
    <h1>Añadir Nuevo Producto</h1>
    </div>
    {#% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{{ form(form) }}#}

    {{ form_start(form) }}
    <div class="row">
    {#{ form_widget(form) }#}
        {% for flashMessage in app.session.flashbag.get('error') %}
                <div class = "alert alert-danger alert-dismissable">
                    <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                    {{ flashMessage }}
                </div>
        {% endfor %}

        <div class="col-lg-4 col-sm-4 col-xs-12">
            {{ form_row(form.codigo) }}
            {{ form_row(form.formato) }}
            {{ form_row(form.color) }}
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12">
            {{ form_row(form.nombre) }}
            {{ form_row(form.precio) }}
            {{ form_row(form.tipo) }}
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12">
            {{ form_row(form.file) }}
            {{ form_row(form.almacenes) }}
        </div><div class="col-sm-6">{{ form_widget(form.submit) }}</div>
	</div>
    {{ form_end(form) }}
{% endblock %}

{% block stylesheets %}
	<style type="text/css">
		#jyg_revestimientosbundle_material_file {
			font-weight: bold;
			width: 100%;
			padding: 5px;
			border-radius: 5px;

            text-shadow: 0 1px 0 #fff;
            background-image: -webkit-linear-gradient(top, #fff 0%, #e0e0e0 100%);
            background-image:      -o-linear-gradient(top, #fff 0%, #e0e0e0 100%);
            background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
            background-image:         linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
            filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
            background-repeat: repeat-x;
            border-color: #dbdbdb;
            border-color: #ccc;
		}
	</style>
{% endblock %}