{% extends 'JYGRevestimientosBundle::base.html.twig' %}

{% block javascripts %}
	<script src="{{ asset('bundles/jygrevestimientos/js/jquery.min.js') }}"></script>
	<script src="{{ asset('bundles/jygrevestimientos/js/forms.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Material creation</h1>
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {#{{ form(form) }}#}

    <div class="row">
    {{ form_start(form) }}
    {{ form_row(form) }}
    
    <!--<table class="table">
    		<tbody>
    			<tr>
    				<td>{{ form_label(form.codigo) }}</td>
    				<td>{{ form_label(form.formato) }}</td>
    				<td>{{ form_label(form.color) }}</td>
    			</tr>
    			<tr>
    				<td>{{ form_widget(form.codigo, {'attr':{'class':'form-control', 'data-toggle':'tooltip', 'data-placement':'right', 'data-container':'body'}}) }}</td>
    				<td>{{ form_widget(form.formato, {'attr':{'class':'form-control', 'data-toggle':'tooltip', 'data-placement':'right', 'data-container':'body'}}) }}</td>
    				<td>{{ form_widget(form.color, {'attr':{'class':'form-control', 'data-toggle':'tooltip', 'data-placement':'right', 'data-container':'body'}}) }}</td>
    			</tr>
    			<tr>
    				<td>{{ form_label(form.nombre) }}</td>
    				<td>{{ form_label(form.precio) }}</td>
    				<td>{{ form_label(form.tipo) }}</td>
    			</tr>
    			<tr>
    				<td>{{ form_widget(form.nombre, {'attr':{'class':'form-control', 'data-toggle':'tooltip', 'data-placement':'right', 'data-container':'body'}}) }}</td>
    				<td>{{ form_widget(form.precio, {'attr':{'class':'form-control', 'data-toggle':'tooltip', 'data-placement':'right', 'data-container':'body'}}) }}</td>
    				<td>{{ form_widget(form.tipo, {'attr':{'class':'form-control', 'data-toggle':'tooltip', 'data-placement':'right', 'data-container':'body'}}) }}</td>
    			</tr>
    			<tr>
    				<td>{{ form_label(form.file, "Imagen del Producto") }}</td>
    				<td colspan="2">{{ form_label(form.almacenes,"Almacenado en:") }}</td>
    			</tr>
    			<tr>
    				<td>{{ form_widget(form.file, {'attr':{'data-toggle':'tooltip', 'data-placement':'right', 'data-container':'body'}}) }}</td>
    				<td colspan="2"><ul style="list-style: none;" class="tags" data-prototype="{{ form_widget(form.almacenes.vars.prototype)|e }}"></ul>
					</td>
    			</tr>
    		</tbody>
    	</table>-->
    </div>
	{{ form_end(form) }}
	{{ form_widget(form.submit) }}
	
{% endblock %}

{% block stylesheets %}
	<style type="text/css">
		.form_file {
			font-weight: bold;
			width: 100%;
			padding: 5px;
			border-radius: 5px;
			border: solid 1px blue;
		}
		li *{
			display:inline-block;
			/*margin: 0px 5px 0px 5px;*/
		}
	</style>
{% endblock %}