{% extends 'JYGRevestimientosBundle::base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h2>Producto / {{ entity.nombre }}</h2>
    </div>
    <div class="row">
        <div class="col-lg-8 col-sm-8 col-xs-12">
            <table class="table record_properties">
                <thead>
                    <tr>
                        <th colspan="3"><h3 style="margin-top:0px;">Detalles del Producto</h3></th>
                        <th><a href="{{ path('material') }}" ><button class="btn btn-primary btn-block" type="button">Regresar</button></a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Codigo</th>
                        <td>{{ entity.codigo }}</td>
                        <th>Formato</th>
                        <td>{{ entity.formato }}</td>
                    </tr>
                    <tr>
                        <th>Color</th>
                        <td>{{ entity.color }}</td>
                        <th>Nombre</th>
                        <td>{{ entity.nombre }}</td>
                    </tr>
                    <tr>
                        <th>Precio</th>
                        <td>{{ entity.precio }} Bs</td>
                        <th>Tipo</th>
                        <td>{{ entity.tipo }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <a href="{{ path('material_edit', { 'id': entity.id }) }}"><button class="btn btn-success btn-block" type="button">Modificar Datos</button></a></td>
                        <td colspan="2">{{ form(delete_form) }}</td>
                    </tr>
                </tbody>
            </table>
            
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12">
            <div id="textContacto"><h3>{{ entity.nombre }}</h3><p>{{ entity.formato }}</p></div>
            <div id="imgContacto"></div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    <style type="text/css">
        #imgContacto{
            background-image: url('{{ asset("bundles/jygrevestimientos/images/materiales/") }}{{ entity.path }}');
            background-size: 100% 300px;
            background-repeat: no-repeat;
            min-height: 400px;
            max-width: 400px;
            /*background-color: rgba(0, 135, 64, 0.56);*/
            border-radius: 5px;
        }
        #textContacto{
            position: absolute;
            bottom: 0;
            z-index: 1;
            padding: 0px 10px 10px 10px;
        }
    </style>
{% endblock %}
