{% extends 'JYGRevestimientosBundle::base.html.twig' %}

{% block body %}
    <h1>Material</h1>

    <table class="table record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ entity.codigo }}</td>
            </tr>
            <tr>
                <th>Formato</th>
                <td>{{ entity.formato }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ entity.color }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ entity.precio }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ entity.tipo }}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                <td><img src="{{ asset('bundles/jygrevestimientos/images/materiales/') }}{{ entity.path }}"></td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('material') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('material_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
