{% extends 'JYGRevestimientosBundle::baseAdmin.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('bundles/jygrevestimientos/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/jygrevestimientos/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/jygrevestimientos/js/modalDelEdit.js') }}"></script>
{% endblock %}

{% block body -%}
	<div class="row">
        <div class="col-sm-8"><div class="page-header"><h1>Modificar Datos de <small>{{ entity.nombre }}</small></h1></div></div>
        <div class="col-sm-4"><a id="volver" href="{{ path('cliente') }}" class="btn btn-success pull-right" type="button"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>  Regresar a lista de Clientes</a></div>
    </div>

        {{ form_start(edit_form) }}
    <div class="row well">
        <div class="col-lg-6 col-sm-6 col-xs-12">
            {{ form_row(edit_form.rif) }}
            {{ form_row(edit_form.nombre) }}
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12">
            {{ form_row(edit_form.telefono) }}
            {{ form_row(edit_form.direccion) }}
        </div>
	</div>
    <div class="row">
        <div class="col-lg-6 col-sm-6 col-xs-12">{{ form_widget(edit_form.submit) }}{{ form_end(edit_form) }}</div>
        <div class="col-lg-6 col-sm-6 col-xs-12"><a type="button" class="btn btn-danger btn-block" data-toggle="modal" id="Modal" data-target="#delElimCliente"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>  Eliminar Cliente</a></div>
    </div>

    <!-- el modal tio -->
    <div class="modal fade" id="delElimCliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog modal-lg" >
            <div class="modal-content bodies">
                <center><h3>¿Está seguro que desea eliminar los datos del Cliente?</h3>
                <p>Tenga en cuenta que al eliminar el cliente ya no podrá recuperar sus datos.</p></center><br>
                <div class="row">
                <div class="col-sm-6">{{ form(delete_form) }}</div>
                <div class="col-sm-6"><button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Cancelar</button></div></div>
            </div>
        </div>
    </div>
    <!-- el modal tio -->
{% endblock %}
