{% extends 'JYGRevestimientosBundle::baseAdmin.html.twig' %}
{% block javascripts %}
	<script src="{{ asset('bundles/jygrevestimientos/js/jquery.min.js') }}"></script>
	<script src="{{ asset('bundles/jygrevestimientos/js/formsVentaEdit.js') }}"></script>
{% endblock %}
{% block body -%}
     {% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
    <div class="row">
        <div class="col-sm-8"><div class="page-header"><h1>Modificar Venta</h1></div></div>
        <div class="col-sm-4"><a id="volver" href="{{ path('venta') }}" class="btn btn-primary pull-right" type="button"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>  Regresar a las Ventas</a></div>
    </div>
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="row"><div class="col-sm-12"><div class = "alert alert-success">
            {{ flashMessage }}
        </div></div></div>
    {% endfor %}
    {{ form_start(edit_form) }}
    <div class="row">
        <div class="col-lg-4 col-sm-4 col-xs-12">
            {#{{ form_row(edit_form.codigo, { 'attr': {'readonly': 'true'} }) }}#}
            {{ form_row(edit_form.fecha) }} 
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12">
            {{ form_row(edit_form.comprador) }}
        </div>
        <div id="lastCol" class="col-lg-4 col-sm-4 col-xs-12">
            {{ form_row(edit_form.items) }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">{{ form_widget(edit_form.submit) }}</div>
{% endblock %}
