{% extends 'JYGRevestimientosBundle::baseAdmin.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('bundles/jygrevestimientos/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/jygrevestimientos/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/jygrevestimientos/js/modalDelEdit.js') }}"></script>
{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-sm-9"><div class="page-header"><h1>Ventas</h1></div></div>
        <div class="col-sm-3">
        <a type="button" id="volver" class="btn btn-success btn-lg btn-block" data-toggle="modal" id="Modal" data-target="#Venta">Realizar Nueva Venta</a>
        </div>
    </div>

    <!-- el modal tio -->
    <div class="modal fade" id="Venta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" >
            <div class="modal-content bodies">
                <center><h3 style="margin-top: 0px">Nueva Venta</h3>
                <p>Está a punto de realizar una nueva venta.</p></center>
                <blockquote>¿el cliente está registrado?</blockquote>
                <div class="row">
                    <div class="col-sm-6"><a href="{{ path('venta_new') }}" class="btn btn-lg btn-primary btn-block" type="button">Si, <small>continuar con la venta</small></a></div>
                    <div class="col-sm-6"><a type="button" href="{{ path('cliente_new') }}" class="btn btn-default btn-lg btn-block">No, <small>registrar al usuario</small></a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- el modal tio -->

    <div class="panel panel-default">
    <table class="table table-striped table-condensed records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Comprador</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('venta_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.comprador }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('venta_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('venta_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
    {% endblock %}
