{% extends 'JYGRevestimientosBundle::baseAdmin.html.twig' %}
{% block javascripts %}
	<script src="{{ asset('bundles/jygrevestimientos/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/jygrevestimientos/js/formsVenta.js') }}"></script>
    <script src="{{ asset('bundles/jygrevestimientos/js/datatable.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#myTable').DataTable({
                "bSort" : false,
                "bPaginate" : false,
                "bInfo" : false
            });
            /*Elimina primer hijo de la tabla de busqueda*/
            $(document).find('#myTable_wrapper .row :first').remove();
            $(document).find('#myTable_wrapper .row :first').removeClass();
            $(document).find('#myTable_wrapper .row :first').addClass('col-lg-12');
            $(document).find('#myTable_wrapper .row :first input').removeClass();
            $(document).find('#myTable_wrapper .row :first input').addClass('form-control input-sm');
        });
    </script>
{% endblock %}
{% block body -%}
    <div class="row">
        <div class="col-sm-8"><div class="page-header"><h1>Elija Un Cliente</h1></div></div>
        <div class="col-sm-4"><a id="volver" href="{{ path('venta') }}" class="btn btn-primary pull-right" type="button"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>  Regresar a las Ventas</a></div>
    </div>

    <div class="row well">
        {% for flashMessage in app.session.flashbag.get('cod') %}
            <div class = "alert alert-danger alert-dismissable">
                <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class = "alert alert-danger alert-dismissable">
                <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                {{ flashMessage }}
            </div>
        {% endfor %}
        <div class="col-lg-4 col-sm-4 col-xs-12">
            <button id="botontoggle" onclick="toggleTabla()" style="margin-bottom:5px" class="btn btn-block btn-info">Registrar Nuevo Cliente</button>
            <div id="tablafiltro" class="panel panel-default">
                <table class="table table-condensed table-striped table-bordered" id="myTable">
                    <thead>
                        <tr>
                            <th>Datos del Cliente</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cliente in clientes %}
                        <tr>
                            <td onclick="PonerDatos('{{ cliente.id }}','{{ cliente.nombre }}','{{ cliente.rif }}','{{ cliente.direccion }}','{{ cliente.telefono }}');" id="fila_tabla">{{ cliente.nombre }}, {{ cliente.rif }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {{ form_start(form) }}
        <div class="col-lg-4 col-sm-4 col-xs-12">
            {{ form_row(form.comprador) }}
        </div>
        <div id="lastCol" class="col-lg-4 col-sm-4 col-xs-12">
            {{ form_row(form.fecha) }}
            {{ form_row(form.items) }}
            {{ form_widget(form.submit) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block stylesheets %}
    <style type="text/css">
        #fila_tabla:hover {
            background-color: rgba(252, 133, 41, 0.46);
            font-style: italic;
            cursor: pointer;
        }
        .input-sm{
            width: 100%;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/jygrevestimientos/css/datatable.min.css') }}">
{% endblock %}