<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Revestimientos J&G, Barquisimeto C.A</title>
    <style type="text/css">
    body{
    	font-size: 12px;
    }
    .table{
        width: 100%;
        font-family: "Arial", sans-serif;
        border-spacing: 0;
        border-collapse: collapse;
        max-width: 100%;
        margin-bottom: 10px;
    }
    .table {
        border-collapse: collapse !important;
    }
    .color{ background-color: #ddd !important; }
    .table-bordered th,
    .table-bordered td {
        border: 1px solid #000 !important;
    }
    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
        padding: 6px;
        line-height: 1.42857143;
        vertical-align: top;
    }
    .table > thead > tr > th {
        vertical-align: bottom;
        border-bottom: 2px solid #ddd;
    }
    .table > caption + thead > tr:first-child > th,
    .table > colgroup + thead > tr:first-child > th,
    .table > thead:first-child > tr:first-child > th,
    .table > caption + thead > tr:first-child > td,
    .table > colgroup + thead > tr:first-child > td,
    .table > thead:first-child > tr:first-child > td {
        border-top: 0;
    }
    .table-bordered {
        border: 1px solid #000;
    }
    .table-bordered > thead > tr > th,
    .table-bordered > tbody > tr > th,
    .table-bordered > tfoot > tr > th,
    .table-bordered > thead > tr > td,
    .table-bordered > tbody > tr > td,
    .table-bordered > tfoot > tr > td {
        border: 1px solid #ddd;
    }
    .table-bordered > thead > tr > th,
    .table-bordered > thead > tr > td {
        border-bottom-width: 2px;
    }
    .table-condensed > thead > tr > th,
    .table-condensed > tbody > tr > th,
    .table-condensed > tfoot > tr > th,
    .table-condensed > thead > tr > td,
    .table-condensed > tbody > tr > td,
    .table-condensed > tfoot > tr > td {
        padding: 2px;
    }
    </style>
</head>
<body>
    <img src="{{ base_dir ~ asset('bundles/jygrevestimientos/images/background2.jpg') }}" style="position: absolute; z-index: -999999;" width="100%">

    <table class="table fondo">
        <tr>
            <td colspan="2" style="width: 33%"><center><img src="{{ base_dir ~ asset('bundles/jygrevestimientos/images/nota_entrega.png') }}" width="300px"></center></td>
            <td style="width: 33%">
                <table class="table table-condensed">
                    <thead><tr><th>Detalles de la Venta</th></tr></thead>
                    <tbody>
                        <tr><td><b>Fecha:</b> {{ entity.fecha|date('d/m/Y') }}
                        <br><b>Nota de Entrega:</b> {{ entity.id }}
                        <br><b>Teléfono:</b> (0424) 455 57 12
                        <br>San Diego Edo Carabobo</td></tr>
                    </tbody>
                </table>
            </td>
            <td style="width: 33%">
               <table class="table table-condensed">
                    <thead><tr><th>Detalles del Comprador</th></tr></thead>
                    <tbody>
                        <tr><td><b>A Nombre:</b> {{ cliente.nombre }}<br>
                        <b>Dirección:</b> {{ cliente.direccion }}<br>
                        <b>Teléfono de contacto:</b> {{ cliente.telefono }}</td></tr>
                    </tbody>
                </table> 
            </td>
        </tr>
    </table>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="color">Código</th>
                <th class="color">Descripción</th>
                <th class="color">Cantidad</th>
                <th class="color">Precio</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{% set foo = item.codigomaterial|split(',') %}{% set rep = foo|first %}{{ foo|first }}</td>
                <td>Nombre: {{ item.codigomaterial.nombre }} Formato: {{ item.codigomaterial.formato }}, Color: {{ item.codigomaterial.color }}
                </td>
                <td>{% if item.codigomaterial.tipo == "Laja Formateada" or item.codigomaterial.tipo == "Laja Natural" or item.codigomaterial.tipo == "Taco Cortado" %}{{ item.cantidad }}mts2 {% else %} {{ item.cantidad }} unidades{% endif %}</td>
                <td>{{ item.codigomaterial.precioventa * item.cantidad }} Bsf.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <table class="table">
        <tbody>
            <tr style="text-aling:center; color: #bbb;">
                <td><i>Si tiene alguna pregunta relacionada con esta Nota de Entrega, le rogamos se ponga en contacto con:<br>JAQUELIN FAJARDO al teléfono (0424) 455-57-12</i></td>
            </tr>
        </tbody>
    </table>
</body>
</html>

