{% extends 'JYGRevestimientosBundle::baseAdmin.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-12"><div class="page-header"><h1>Venta #{{ entity.id }}</h1></div></div>
    </div>
    
    <table class="table table-bordered record_properties">
        <tbody>
            <tr>
                <th>Número de Compra</th>
                <td>#{{ entity.id }}</td>
                <th>Fecha</th>
                <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <table class="table">
                        <thead>
                            <th colspan="2">Detalles del Comprador</th>
                        </thead>
                        <tbody>
                            <tr><td>{{ cliente.nombre }}</td><td>{{ cliente.rif }}</td></tr>
                            <tr><td>{{ cliente.direccion }}</td><td>{{ cliente.telefono }}</td></tr>
                        </tbody>
                    </table>
                </td>
                <td colspan="2">
                    <table class="table">
                        <thead>
                            <th colspan="3">Detalles de la Venta</th>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Código y Descripción</th>
                                <th>Cantidad</th>
                            </tr>
                            {% for item in items %}
                            <tr>
                                <td>{{ item.codigo }}</td>
                                <td>{{ item.cantidad }} unidades</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-lg-4 col-sm-4 col-xs-12"><a class="btn btn-block btn-default" href="{{ path('venta') }}">Ver Todas las Ventas</a></div>
        <div class="col-lg-4 col-sm-4 col-xs-12"><a class="btn btn-block btn-default" href="{{ path('venta_edit', { 'id': entity.id }) }}">Modificar Esta Venta</a></div>
        <div class="col-lg-4 col-sm-4 col-xs-12">{{ form(delete_form) }}</div>
    </div>
        
        
        
{% endblock %}
